.contactPage {
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
}

.contactPage a {
    color: white;
}

.contactPage h1 {
    margin-bottom: 3rem;
    color: #16c824;
}

.contactPage p {
    font-size: 1.2rem;
    line-height: 2;
    color: white;
}