.header-container {
    position: fixed;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    display: grid;
    place-items: right;
}

.burger {
    display: none;
    z-index: 2;
    position: absolute;
    cursor: pointer;
}

header {
    display: grid;
    grid-auto-flow: row;
    justify-content: right;
    align-items: right;
    text-align: right;
    gap: .5rem;
    z-index: 1;
    padding: .3rem;
}

.loginButton {
    display: none;
}

.headerButtons {
    padding: .4rem;
    text-decoration: none;
    background-color: black;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
  
.headerButtons:hover {
    color: black;
    background-color: white;
}

[aria-current="page"] {
    font-weight: bold;
    color: #16c824;
}

/* 
.current {
    font-weight: bold;
    color: #16c824;
} */

@media (max-width: 1000px) {
    header {
        min-width: 100%;
        transform: translateY(-100%);
        grid-auto-flow: row;
        align-content: center;
        min-height: 100vh;
        transition: 0.5s ease;
        background: black;
        justify-content: center;    
    }

    header a {
        font-size: 2rem;
    }
    
    .burger {
        display: block;
    }

    header.visible {
        transform: translateY(0%);
        z-index: 100;
    }

    main {
        padding: 5vh, 5vh;
    }
}
