@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

.homePage {
    justify-content: start;
    width: 100vw;
    height: 100vh;
    color: white;
    background: black;
}

.typistText {
  margin-left: 2rem;
  margin-top: 5rem;
}

.homePage h1 {
    text-align: left;
    font-size: 4rem;
    font-weight: 100;
}

.textFlair {
    color: #16c824;
    font-style: italic;
}

.textFlairMono {
  color: #16c824;
  font-family: monospace;
}

.Typist .Cursor {
    display: inline-block; }
    .Typist .Cursor--blinking {
      opacity: 1;
      animation: blink 0.7s linear infinite; }
  
  @keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  