.login {
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
}

.login button {
    background: black;
    border: 1px solid lightgray;
    color: white;
    padding: 0.8rem;
}

img {
    width: 50px;
    margin: 1rem 0;
    border-radius: 50%;
}