.project {
    position: relative;
    min-width: 350px;
    max-width: 70vw;
    background: rgb(20, 20, 20);
    padding: 2rem;
    min-height: 350px;
    margin-top: 30px;
    color: white;
    /* border: 1px solid white; */
    /* transition: 0.3s ease; */
}

.project h1 {
    font-size: 3rem;
}

.projectPage {
    /* height: 100%; */
    display: grid;
    place-items: center;
    align-content: center;
}

.projectPageTitle {
    color: #16c824;
    font-size: 3rem;
    text-align: center;
    margin: auto;
}

.project img {
    width: 75%;
    border-radius: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.loader {
    margin-top: 2rem;
}

/* .footerPlacement {
    position: absolute;
    margin-top: 7rem;
    color: white;
    width: 100%;
  } */
  
/* .add {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 10vh;
    height: 5vh;
    background: #eee;
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
} */