.project {
    position: relative;
    min-width: 350px;
    background: rgb(10, 10, 10);
    padding: 2rem;
    min-height: 350px;
    margin-top: 30px;
    color: white;
    /* border: 1px solid white; */
    /* transition: 0.3s ease; */
}

h1 {
    font-size: 3rem;
}

.projectPage {
    /* height: 100%; */
    display: grid;
    place-items: center;
    align-content: center;
}

.project img {
    width: 100%;
    border-radius: 0;
}

.loader {
    margin-top: 2rem;
}


/* .add {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 10vh;
    height: 5vh;
    background: #eee;
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
} */