.projectContainer {
    margin-bottom: 4rem;
}

.admin-icons {
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: .5rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.editIcons {
    color: white;
}

.byLine {
    margin-top: 1rem;
}

.divider {
    height: 1px;
    width: 90vw;
    background: white;
}

.readMoreLink {
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
}


.divider {
    height: 1px;
    width: 40vw;
    background: white;
    margin: 4rem auto;
}

/* .project.active {
    position: absolute;
    top: 10vh;
    left: 2.5vw;
    min-height: 90vh;
    min-width: 90vw;
    z-index: 2;
    animation: slideOut 1s ease;
}

@keyframes slideOut {
    from{
        transform: scale(0, 0);
    }
    to{
        transform: scale(80vw, 80vh);
    }
} */

/* .editIcons {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
} */