@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Ubuntu+Condensed&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

body, html {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  background: black;
  max-width: 100vw;
}

a {
  color: black;
}

.mainPage {
  color: white;
  background: black;
  max-width: 100vw;
}

.add {
  margin-top: 5vh;
  transform: scale(1.5);
}

button {
  margin-top: 2rem;
  padding: .4rem;
  background-color: white;
  color: black;
  border: 1px solid black;
  min-width: 6rem;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: black;
  color: white;
}