@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Ubuntu+Condensed&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

body, html {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  background: black;
  max-width: 100vw;
  scroll-behavior: smooth;
}

a {
  color: black;
}

.mainPage {
  color: white;
  background: black;
  max-width: 100vw;
}

.add {
  margin-top: 5vh;
  transform: scale(1.5);
}